.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.card-deck .card {
  display: block;
  background-color: #66ccff;
  margin: 9px;
  padding: 0px 4px 0px 4px;
  flex-basis: 31.5%; /* change this value for each breakpoint*/
}
